<p style="color: green"><%= notice %></p>

<%= render @home_post %>

<div>
  <%= link_to "Edit this home post", edit_home_post_path(@home_post) %> |
  <%= link_to "Back to home posts", home_posts_path %>

  <%= button_to "Destroy this home post", @home_post, method: :delete %>
</div>
